:host {
    //flex: 1 1 auto;
   // width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url('../../../../../assets/playa-8.jpg');
   // background-image: url('https://vien-angular.coloredstrategies.com/balloon-lg.c94920d96c9c2213c3ea.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
}